CapaWeb/Service References/PersonaServ/ServicioPersona.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioPersona" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50274/ServicioPersona.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50274/ServicioPersona.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50274/ServicioPersona.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaDato" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioPersona_AgregarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPersona" />
  </wsdl:message>
  <wsdl:message name="IServicioPersona_AgregarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPersona_VerificarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPersona" />
  </wsdl:message>
  <wsdl:message name="IServicioPersona_VerificarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPersona_ListarArtistas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarArtistas" />
  </wsdl:message>
  <wsdl:message name="IServicioPersona_ListarArtistas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarArtistasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioPersona">
    <wsdl:operation name="AgregarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPersona/AgregarPersona" message="tns:IServicioPersona_AgregarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPersona/AgregarPersonaResponse" message="tns:IServicioPersona_AgregarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPersona/VerificarPersona" message="tns:IServicioPersona_VerificarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPersona/VerificarPersonaResponse" message="tns:IServicioPersona_VerificarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarArtistas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPersona/ListarArtistas" message="tns:IServicioPersona_ListarArtistas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPersona/ListarArtistasResponse" message="tns:IServicioPersona_ListarArtistas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioPersona" type="tns:IServicioPersona">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarPersona">
      <soap:operation soapAction="http://tempuri.org/IServicioPersona/AgregarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPersona">
      <soap:operation soapAction="http://tempuri.org/IServicioPersona/VerificarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarArtistas">
      <soap:operation soapAction="http://tempuri.org/IServicioPersona/ListarArtistas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioPersona">
    <wsdl:port name="BasicHttpBinding_IServicioPersona" binding="tns:BasicHttpBinding_IServicioPersona">
      <soap:address location="http://localhost:50274/ServicioPersona.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>