CapaWeb/Service References/ObraCompletoServ/ServicioObraCompleto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaEntidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaEntidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfObraCompleto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObraCompleto" nillable="true" type="tns:ObraCompleto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObraCompleto" nillable="true" type="tns:ArrayOfObraCompleto" />
  <xs:complexType name="ObraCompleto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuidadosEspeciales" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimensiones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estilo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Procedencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObraCompleto" nillable="true" type="tns:ObraCompleto" />
</xs:schema>