CapaWeb/Service References/ObraCompletoServ/ServicioObraCompleto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioObraCompleto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50274/ServicioObraCompleto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50274/ServicioObraCompleto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50274/ServicioObraCompleto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaEntidad" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioObraCompleto_ListarObrasCompleto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasCompleto" />
  </wsdl:message>
  <wsdl:message name="IServicioObraCompleto_ListarObrasCompleto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasCompletoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioObraCompleto_ListarObrasCompleto365_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasCompleto365" />
  </wsdl:message>
  <wsdl:message name="IServicioObraCompleto_ListarObrasCompleto365_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasCompleto365Response" />
  </wsdl:message>
  <wsdl:message name="IServicioObraCompleto_ListarObrasCompletoArtista_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasCompletoArtista" />
  </wsdl:message>
  <wsdl:message name="IServicioObraCompleto_ListarObrasCompletoArtista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasCompletoArtistaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioObraCompleto">
    <wsdl:operation name="ListarObrasCompleto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioObraCompleto/ListarObrasCompleto" message="tns:IServicioObraCompleto_ListarObrasCompleto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioObraCompleto/ListarObrasCompletoResponse" message="tns:IServicioObraCompleto_ListarObrasCompleto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarObrasCompleto365">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioObraCompleto/ListarObrasCompleto365" message="tns:IServicioObraCompleto_ListarObrasCompleto365_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioObraCompleto/ListarObrasCompleto365Response" message="tns:IServicioObraCompleto_ListarObrasCompleto365_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarObrasCompletoArtista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioObraCompleto/ListarObrasCompletoArtista" message="tns:IServicioObraCompleto_ListarObrasCompletoArtista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioObraCompleto/ListarObrasCompletoArtistaResponse" message="tns:IServicioObraCompleto_ListarObrasCompletoArtista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioObraCompleto" type="tns:IServicioObraCompleto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarObrasCompleto">
      <soap:operation soapAction="http://tempuri.org/IServicioObraCompleto/ListarObrasCompleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarObrasCompleto365">
      <soap:operation soapAction="http://tempuri.org/IServicioObraCompleto/ListarObrasCompleto365" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarObrasCompletoArtista">
      <soap:operation soapAction="http://tempuri.org/IServicioObraCompleto/ListarObrasCompletoArtista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioObraCompleto">
    <wsdl:port name="BasicHttpBinding_IServicioObraCompleto" binding="tns:BasicHttpBinding_IServicioObraCompleto">
      <soap:address location="http://localhost:50274/ServicioObraCompleto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>