CapaWeb/Service References/ObraServ/ServicioObra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioObra" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50274/ServicioObra.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50274/ServicioObra.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50274/ServicioObra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaDato" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioObra_AgregarObra_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarObra" />
  </wsdl:message>
  <wsdl:message name="IServicioObra_AgregarObra_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarObraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioObra_VerificarObra_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarObra" />
  </wsdl:message>
  <wsdl:message name="IServicioObra_VerificarObra_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarObraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioObra_ListarObras_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarObras" />
  </wsdl:message>
  <wsdl:message name="IServicioObra_ListarObras_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioObra_ListarObrasArtista_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasArtista" />
  </wsdl:message>
  <wsdl:message name="IServicioObra_ListarObrasArtista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarObrasArtistaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioObra">
    <wsdl:operation name="AgregarObra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioObra/AgregarObra" message="tns:IServicioObra_AgregarObra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioObra/AgregarObraResponse" message="tns:IServicioObra_AgregarObra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarObra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioObra/VerificarObra" message="tns:IServicioObra_VerificarObra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioObra/VerificarObraResponse" message="tns:IServicioObra_VerificarObra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarObras">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioObra/ListarObras" message="tns:IServicioObra_ListarObras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioObra/ListarObrasResponse" message="tns:IServicioObra_ListarObras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarObrasArtista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioObra/ListarObrasArtista" message="tns:IServicioObra_ListarObrasArtista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioObra/ListarObrasArtistaResponse" message="tns:IServicioObra_ListarObrasArtista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioObra" type="tns:IServicioObra">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarObra">
      <soap:operation soapAction="http://tempuri.org/IServicioObra/AgregarObra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarObra">
      <soap:operation soapAction="http://tempuri.org/IServicioObra/VerificarObra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarObras">
      <soap:operation soapAction="http://tempuri.org/IServicioObra/ListarObras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarObrasArtista">
      <soap:operation soapAction="http://tempuri.org/IServicioObra/ListarObrasArtista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioObra">
    <wsdl:port name="BasicHttpBinding_IServicioObra" binding="tns:BasicHttpBinding_IServicioObra">
      <soap:address location="http://localhost:50274/ServicioObra.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>