CapaWeb/Service References/ServicioMuseo/MuseoWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaDato" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaDato" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersona" nillable="true" type="tns:ArrayOfPersona" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domicilio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Obra" nillable="true" type="tns:ArrayOfObra" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo1" nillable="true" type="tns:Tipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="ArrayOfObra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Obra" nillable="true" type="tns:Obra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObra" nillable="true" type="tns:ArrayOfObra" />
  <xs:complexType name="Obra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistaRut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimensiones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estilo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Humedad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Persona" nillable="true" type="tns:Persona" />
      <xs:element minOccurs="0" name="Procedencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:Ubicacion" />
      <xs:element minOccurs="0" name="UbicacionSalon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Obra" nillable="true" type="tns:Obra" />
  <xs:complexType name="Ubicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Iluminacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxObras" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MetrosCuadrados" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Obra" nillable="true" type="tns:ArrayOfObra" />
      <xs:element minOccurs="0" name="Salon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubicacion" nillable="true" type="tns:Ubicacion" />
  <xs:complexType name="Tipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Persona" nillable="true" type="tns:ArrayOfPersona" />
      <xs:element minOccurs="0" name="TipoPersona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo" nillable="true" type="tns:Tipo" />
</xs:schema>