CapaWeb/Service References/UbicacionServ/ServicioUbicacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50274/ServicioUbicacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaDato" />
  <xs:element name="ListarUbicaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaDato" minOccurs="0" name="ListarUbicacionesResult" nillable="true" type="q1:ArrayOfUbicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>