CapaWeb/Service References/ArtistaServ/ServicioArtista1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaEntidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaEntidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArtista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artista" nillable="true" type="tns:Artista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtista" nillable="true" type="tns:ArrayOfArtista" />
  <xs:complexType name="Artista">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artista" nillable="true" type="tns:Artista" />
</xs:schema>